@{
    Layout = "_Layout";
}

<h1>Add a new vendor?</h1>


<form action="/vendors" method="post">
    <label for="vendorName">Vendor name</label>
    <input id="vendorName" name="vendorName" type="text">
    <button type="submit">Add</button>
</form>

<p><a href="/">Return to Homepage</a></p>
<p><a href="/vendors">Back to Vendor List.</a></p>